.profile-wrap{
.side-lbl{
     height: 35px;
     background-color: rgba(188, 223, 227, 0.498);
     padding: 2%;
     align-items: start;
}
div.pi{
     text-align: start;
     font-weight: 500;
     font-family:'Times New Roman', Times, serif;
     color: rgba(140, 139, 139, 0.994);
}
}

.info-head{
     display: flex;
     justify-content: left;
     font-family: 'Times New Roman', Times, serif;
     color: black;
     font-size: 15px;
}